<div class="container-fluid">
    <h1><%= name %></h1>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Tabs nav -->
        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a title="Descripción" class="nav-link mb-3 p-3 shadow active" id="descripcion" data-toggle="pill" href="#v-pills-descripcion" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <i class="fa fa-align-justify"></i>
                <span class="font-weight-bold small text-uppercase">Descripción</span></a>

            <a title="¿Como funciona?" class="nav-link mb-3 p-3 shadow" id="funcionamiento" data-toggle="pill" href="#v-pills-funcionamiento" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <i class="fa fa-power-off"></i>
                <span class="font-weight-bold small text-uppercase">Funcionamiento</span></a>

            <a title="Pseudo-Código" class="nav-link mb-3 p-3 shadow" id="p-codigo" data-toggle="pill" href="#v-pills-p-codigo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <i class="fa fa-list-alt"></i>
                <span class="font-weight-bold small text-uppercase">Pseudo-Código</span></a>

            <a title="Códigos en los principales lenguajes" class="nav-link mb-3 p-3 shadow" id="codigo" data-toggle="pill" href="#v-pills-codigo" role="tab" aria-controls="v-pills-codigo" aria-selected="false">
                <i class="fa fa-code"></i>
                <span class="font-weight-bold small text-uppercase">Código</span></a>

            <a title="Animación" class="nav-link mb-3 p-3 shadow" id="animacion" data-toggle="pill" href="#v-pills-animacion" role="tab" aria-controls="v-pills-animacion" aria-selected="false">
                <i class="fa fa-play-circle"></i>
                <span class="font-weight-bold small text-uppercase">Animación</span></a>

            <a title="Visualizar videos" class="nav-link mb-3 p-3 shadow" id="video" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">
                <i class="fa fa-play"></i>
                <span class="font-weight-bold small text-uppercase">Videos</span></a>

            <a title="Bibliografía utilizada" class="nav-link mb-3 p-3 shadow" id="biblio" data-toggle="pill" href="#v-pills-biblio" role="tab" aria-controls="v-pills-biblio" aria-selected="false">
                <i class="fa fa-book"></i>
                <span class="font-weight-bold small text-uppercase">Bibliografía</span></a>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-descripcion" role="tabpanel" aria-labelledby="descripcion">
                <h4 class="font-italic mb-4">Descripción</h4>
                <p class="font-italic text-muted mb-2">
                    <img src="<%= asset_path 'bubble-sort-main.png' %>" width="200" alt="" class="img" id="img-algo">
                <p></p>
                <div id="texto-descripcion">
                    Bubblesort es un algoritmo de ordenación muy popular, pero ineficaz.
                    Funciona intercambiando repetidamente elementos adyacentes que están desordenados.
                    Este algoritmo no es adecuado para grandes conjuntos de datos ya que su complejidad promedio y
                    en el peor de los casos son de Ο(n2) donde n es el número total de elementos a ordenar.
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-funcionamiento" role="tabpanel" aria-labelledby="funcionamiento">
                <h4 class="font-italic mb-4">Funcionamiento</h4>
                <p class="font-italic text-muted mb-2">

                <main>
                    <ol class="gradient-list">
                        <li>
                            Para nuestro ejemplo tomamos una matriz sin ordenar. La ordenación de burbuja
                            lleva Ο(n2) en tiempo computacional, por lo que el ejemplo es breve y preciso.
                            <img src="<%= asset_path 'bubble-funcionamiento-01.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Se comienza con los dos primeros elementos, comparándolos para comprobar cuál es mayor.
                            <img src="<%= asset_path 'bubble-funcionamiento-02.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            En este caso, el valor 33 es mayor que 14, por lo que ya está ordenado.
                            A continuación, comparamos 33 con 27.
                            <img src="<%= asset_path 'bubble-funcionamiento-03.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Encontramos que 27 es menor que 33 y estos dos valores deben intercambiarse.
                            <img src="<%= asset_path 'bubble-funcionamiento-04.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            La nueva matriz debería verse así:
                            <img src="<%= asset_path 'bubble-funcionamiento-05.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            A continuación, comparamos 33 y 35. Encontramos que ambos están en posiciones ya ordenadas.
                            <img src="<%= asset_path 'bubble-funcionamiento-06.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Luego pasamos a los siguientes dos valores, 35 y 10.
                            <img src="<%= asset_path 'bubble-funcionamiento-07.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Entonces sabemos que 10 es más pequeño que 35. Por lo tanto, no están ordenados.
                            <img src="<%= asset_path 'bubble-funcionamiento-08.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Intercambiamos estos valores. Descubrimos que hemos llegado al final de la matriz.
                            Después de una iteración, la matriz debería verse así:
                            <img src="<%= asset_path 'bubble-funcionamiento-09.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Para ser precisos, ahora mostramos cómo debería verse una matriz después de cada iteración.
                            Después de la segunda iteración, debería verse así:
                            <img src="<%= asset_path 'bubble-funcionamiento-10.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Observe que después de cada iteración, al menos un valor se mueve al final.
                            <img src="<%= asset_path 'bubble-funcionamiento-11.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Y cuando no se requiere algún intercambio más, las ordenaciones de burbuja están completas y
                            por lo tanto, están ordenadas.
                            <img src="<%= asset_path 'bubble-funcionamiento-12.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                    </ol>
                </main>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-p-codigo" role="tabpanel" aria-labelledby="p-codigo">
                <h4 class="font-italic mb-4">Pseudo-Código</h4>
                <div id="texto-descripcion">
                    Asumimos que la lista es una matriz de n elementos. Además, asumimos que la
                    función de intercambio intercambia los valores de los elementos de la matriz dados.
                </div>
                <p class="font-italic text-muted mb-2">
                    <script src="https://gist.github.com/FedericoCelmo/1532a68bec241b907698f29eb78592c1.js"></script>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-codigo" role="tabpanel" aria-labelledby="codigo">
                <h4 class="font-italic mb-4">Código</h4>
                <p class="font-italic text-muted mb-2">
                <div class="warpper">
                    <input class="radio" id="one" name="group" type="radio" checked>
                    <input class="radio" id="two" name="group" type="radio">
                    <input class="radio" id="three" name="group" type="radio">
                    <div class="tabs">
                        <label class="tab" id="one-tab" for="one">Java</label>
                        <label class="tab" id="two-tab" for="two">Python</label>
                        <label class="tab" id="three-tab" for="three">C</label>
                    </div>
                    <div class="panels">
                        <div class="panel" id="one-panel">
                            <div class="panel-title">Código en Java</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/46d9fa0d108d9e7d4cdd9c48df2c80c1.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="two-panel">
                            <div class="panel-title">Código en Python</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/3270e666acbd4cac7fbd92c48984fa8b.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="three-panel">
                            <div class="panel-title">Código en C</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/197e8c28c5ca5f782277e270946926f9.js"></script>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-animacion" role="tabpanel" aria-labelledby="animacion">
                <h4 class="font-italic mb-4">Animación</h4>
                <p class="font-italic text-muted mb-2">
                <div class="card">
                    <div id="contenedorPadre" class="card-body">
                        <div id="elementos">
                            <section class="header">Bubble Sort</section>
                            <button type="button" class="btn btn-success" id="btnPlay" title="Iniciar la animación"><i class="fa fa-play" id="iconoPlay"></i></button>
                            <button type="button" class="btn btn-danger" id="btnStop" title="Detener la animación"><i class="fa fa-stop" id="iconoStop"></i></button>
                            <button type="button" class="btn btn-warning" id="btnReiniciar" title="Reiniciar la animación"><i class="fa fa-reply" id="iconoReiniciar"></i></button>
                        </div>
                        <section id="bubbleAni"></section>
                        <script>
                            new BubbleView();
                        </script>
                    </div>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-video" role="tabpanel" aria-labelledby="video">
                <h4 class="font-italic mb-4">Videos</h4>
                <p class="font-italic text-muted mb-2">

                <div class="container" id="video-container">
                    <button id="left-btn"><i class="arrow" title="Video anterior"></i></button>
                    <iframe id="carousel" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a id="id-video1" href="https://www.youtube.com/embed/vnnL17I7pIY"></a>
                    <a id="id-video2" href="https://www.youtube.com/embed/xli_FI7CuzA"></a>
                    <a id="id-video3" href="https://www.youtube.com/embed/zVjZdrh3tSA"></a>
                    <button id="right-btn"><i class="arrow" title="Video siguiente"></i></button>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-biblio" role="tabpanel" aria-labelledby="biblio">
                <h4 class="font-italic mb-4">Bibliografía</h4>
                <p class="font-italic text-muted mb-2">
                <div id="texto-descripcion">
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <ul class="list-biblio list pl-5" id="list-biblio">
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Cormen, T. H. (2013). Algorithms unlocked: Thomas H. Cormen. Cambridge: The Mit Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein. 2009. Introduction to Algorithms, Third Edition (3rd. ed.). The MIT Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.tutorialspoint.com/data_structures_algorithms/bubble_sort_algorithm.htm" <a>Estrutura de datos: Bubble sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://sites.google.com/site/programacioniiuno/temario/unidad-6---anlisis-de-algoritmos/algoritmo-bubblesort" <a>Google sites: Bubble sort </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    </section>