<div class="container-fluid">
    <h1><%= name %></h1>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Tabs nav -->
        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a title="Descripción" class="nav-link mb-3 p-3 shadow active" id="descripcion" data-toggle="pill" href="#v-pills-descripcion" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <i class="fa fa-align-justify"></i>
                <span class="font-weight-bold small text-uppercase">Descripción</span></a>

            <a title="¿Como funciona?" class="nav-link mb-3 p-3 shadow" id="funcionamiento" data-toggle="pill" href="#v-pills-funcionamiento" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <i class="fa fa-power-off"></i>
                <span class="font-weight-bold small text-uppercase">Funcionamiento</span></a>

            <a title="Pseudo-Código" class="nav-link mb-3 p-3 shadow" id="p-codigo" data-toggle="pill" href="#v-pills-p-codigo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <i class="fa fa-list-alt"></i>
                <span class="font-weight-bold small text-uppercase">Pseudo-Código</span></a>

            <a title="Códigos en los principales lenguajes" class="nav-link mb-3 p-3 shadow" id="codigo" data-toggle="pill" href="#v-pills-codigo" role="tab" aria-controls="v-pills-codigo" aria-selected="false">
                <i class="fa fa-code"></i>
                <span class="font-weight-bold small text-uppercase">Código</span></a>

            <a title="Animación" class="nav-link mb-3 p-3 shadow" id="animacion" data-toggle="pill" href="#v-pills-animacion" role="tab" aria-controls="v-pills-animacion" aria-selected="false">
                <i class="fa fa-play-circle"></i>
                <span class="font-weight-bold small text-uppercase">Animación</span></a>

            <a title="Visualizar videos" class="nav-link mb-3 p-3 shadow" id="video" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">
                <i class="fa fa-play"></i>
                <span class="font-weight-bold small text-uppercase">Videos</span></a>

            <a title="Bibliografía utilizada" class="nav-link mb-3 p-3 shadow" id="biblio" data-toggle="pill" href="#v-pills-biblio" role="tab" aria-controls="v-pills-biblio" aria-selected="false">
                <i class="fa fa-book"></i>
                <span class="font-weight-bold small text-uppercase">Bibliografía</span></a>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-descripcion" role="tabpanel" aria-labelledby="descripcion">
                <h4 class="font-italic mb-4">Descripción</h4>
                <p class="font-italic text-muted mb-2">
                    <img src="<%= asset_path 'insertion-sort-main.png' %>" width="200" alt="" class="img" id="img-algo">
                <p></p>
                <div id="texto-descripcion">
                    La ordenación por inserción o Insertion sort es el mecanismo de ordenación en el que el arreglo a ordenar se construye
                    teniendo en cuenta un elemento a la vez. Los elementos del arreglo se comparan entre sí secuencialmente y luego se ordenan
                    simultáneamente en algún orden particular. La analogía se puede entender del como organizamos una baraja de cartas.
                    Esta clasificación funciona según el principio de insertar un elemento en una posición particular, de ahí el nombre de
                    ordenación por inserción.
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-funcionamiento" role="tabpanel" aria-labelledby="funcionamiento">
                <h4 class="font-italic mb-4">Funcionamiento</h4>
                <p class="font-italic text-muted mb-2">

                <main>
                    <ol class="gradient-list">
                        <li>
                            Para nuestro ejemplo tomamos un arreglo desordenado de tamaño n (ocho elementos).
                            <img src="<%= asset_path 'insertion-funcionamiento-01.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            El algoritmo compara los primeros dos elementos:
                            <img src="<%= asset_path 'insertion-funcionamiento-02.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Encuentra que tanto el 14 como el 33 ya están en orden ascendente. Por ahora, 14 está en una sublista ordenada.
                            <img src="<%= asset_path 'insertion-funcionamiento-03.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            La ordenación por inserción continúa y compara 33 con 27, encuentra que 33 no está en la posición correcta,
                            por lo que cambia 33 por 27. También verifica con todos los elementos de la sublista ordenada. Aquí vemos
                            que la sublista ordenada tiene solo un elemento 14, y 27 es mayor que 14. Por lo tanto, la sublista
                            ordenada permanece ordenada después del intercambio.
                            <img src="<%= asset_path 'insertion-funcionamiento-04.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Ahora tenemos 14 y 27 en la sublista ordenada. A continuación, compara 33 con 10.
                            <img src="<%= asset_path 'insertion-funcionamiento-05.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Estos valores no están ordenados.
                            <img src="<%= asset_path 'insertion-funcionamiento-06.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Por lo tanto, los intercambiamos:
                            <img src="<%= asset_path 'insertion-funcionamiento-07.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Sin embargo, el intercambio hace que 27 y 10 no estén ordenados.
                            <img src="<%= asset_path 'insertion-funcionamiento-08.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Por lo tanto, las intercambiamos también.
                            <img src="<%= asset_path 'insertion-funcionamiento-09.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Nuevamente encontramos 14 y 10 están en un orden no ordenado.
                            <img src="<%= asset_path 'insertion-funcionamiento-10.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Los cambiamos de nuevo. Al final de la tercera iteración, tenemos una sublista ordenada de 4 elementos.
                            <img src="<%= asset_path 'insertion-funcionamiento-11.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Este proceso continúa hasta que todos los valores no ordenados se terminen de ordenar hasta concluirla.
                            <img src="<%= asset_path 'insertion-funcionamiento-12.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                    </ol>
                </main>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-p-codigo" role="tabpanel" aria-labelledby="p-codigo">
                <h4 class="font-italic mb-4">Pseudo-Código</h4>
                <div id="texto-descripcion">
                    Este algoritmo recibe el arreglo de datos a ordenar a[] y altera las posiciones de sus elementos
                    hasta dejarlos ordenados de menor a mayor. N representa el número de elementos que contiene a[].
                </div>
                <p class="font-italic text-muted mb-2">
                    <script src="https://gist.github.com/FedericoCelmo/6a17d9b2648b74b9f0120dd3f26be515.js"></script>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-codigo" role="tabpanel" aria-labelledby="codigo">
                <h4 class="font-italic mb-4">Código</h4>
                <p class="font-italic text-muted mb-2">
                <div class="warpper">
                    <input class="radio" id="one" name="group" type="radio" checked>
                    <input class="radio" id="two" name="group" type="radio">
                    <input class="radio" id="three" name="group" type="radio">
                    <div class="tabs">
                        <label class="tab" id="one-tab" for="one">Java</label>
                        <label class="tab" id="two-tab" for="two">Python</label>
                        <label class="tab" id="three-tab" for="three">C</label>
                    </div>
                    <div class="panels">
                        <div class="panel" id="one-panel">
                            <div class="panel-title">Código en Java</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/0ebe498200dc2b94fad1adc2b8e7d856.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="two-panel">
                            <div class="panel-title">Código en Python</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/01b34173cfdd936cf7607b473e83b455.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="three-panel">
                            <div class="panel-title">Código en C</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/1e747bc7662236ca52723d6db994ba0b.js"></script>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-animacion" role="tabpanel" aria-labelledby="animacion">
                <h4 class="font-italic mb-4">Animación</h4>
                <p class="font-italic text-muted mb-2">
                <div class="card">
                    <div class="card-body">
                        <section class="header">Insertion Sort</section>
                        <button type="button" class="btn btn-success" id="btnPlayIns" title="Iniciar la animación"><i class="fa fa-play" id="iconoPlay"></i></button>
                        <button type="button" class="btn btn-danger" id="btnStopIns" title="Detener la animación"><i class="fa fa-stop" id="iconoStop"></i></button>
                        <button type="button" class="btn btn-warning" id="btnReiniciarIns" title="Reiniciar la animación"><i class="fa fa-reply" id="iconoReiniciar"></i></button>
                        <section  id="outDiv">                            
                        </section>                        
                        <script>
                            new InsertionView();
                        </script>
                    </div>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-video" role="tabpanel" aria-labelledby="video">
                <h4 class="font-italic mb-4">Videos</h4>
                <p class="font-italic text-muted mb-2">

                <div class="container" id="video-container">
                    <button id="left-btn"><i class="arrow" title="Video anterior"></i></button>
                    <iframe id="carousel" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a id="id-video1" href="https://www.youtube.com/embed/R2cB_0B_DxM"></a>
                    <a id="id-video2" href="https://www.youtube.com/embed/JU767SDMDvA"></a>
                    <a id="id-video3" href="https://www.youtube.com/embed/uBHzxrRLa4M"></a>
                    <button id="right-btn"><i class="arrow" title="Video siguiente"></i></button>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-biblio" role="tabpanel" aria-labelledby="biblio">
                <h4 class="font-italic mb-4">Bibliografía</h4>
                <p class="font-italic text-muted mb-2">
                <div id="texto-descripcion">

                </div>

                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <ul class="list-biblio list pl-5" id="list-biblio">
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Cormen, T. H. (2013). Algorithms unlocked: Thomas H. Cormen. Cambridge: The Mit Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein. 2009. Introduction to Algorithms, Third Edition (3rd. ed.). The MIT Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Jon Kleinberg and Eva Tardos. 2005. Algorithm Design. Addison-Wesley Longman Publishing Co., Inc., USA
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.geeksforgeeks.org/insertion-sort/" <a>Geeks For Geeks: Insertion sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="http://ict.udlap.mx/people/ingrid/Clases/IS211/Ordenar.html" <a>Insertion sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.tutorialspoint.com/data_structures_algorithms/insertion_sort_algorithm.htm" <a>Tutorials Point: Insertion sort </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    </section>