<div class="container-fluid">
    <h1><%= name %></h1>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Tabs nav -->
        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a title="Descripción" class="nav-link mb-3 p-3 shadow active" id="descripcion" data-toggle="pill" href="#v-pills-descripcion" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <i class="fa fa-align-justify"></i>
                <span class="font-weight-bold small text-uppercase">Descripción</span></a>

            <a title="¿Como funciona?" class="nav-link mb-3 p-3 shadow" id="funcionamiento" data-toggle="pill" href="#v-pills-funcionamiento" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <i class="fa fa-power-off"></i>
                <span class="font-weight-bold small text-uppercase">Funcionamiento</span></a>

            <a title="Pseudo-Código" class="nav-link mb-3 p-3 shadow" id="p-codigo" data-toggle="pill" href="#v-pills-p-codigo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <i class="fa fa-list-alt"></i>
                <span class="font-weight-bold small text-uppercase">Pseudo-Código</span></a>

            <a title="Códigos en los principales lenguajes" class="nav-link mb-3 p-3 shadow" id="codigo" data-toggle="pill" href="#v-pills-codigo" role="tab" aria-controls="v-pills-codigo" aria-selected="false">
                <i class="fa fa-code"></i>
                <span class="font-weight-bold small text-uppercase">Código</span></a>

            <a title="Animación" class="nav-link mb-3 p-3 shadow" id="animacion" data-toggle="pill" href="#v-pills-animacion" role="tab" aria-controls="v-pills-animacion" aria-selected="false">
                <i class="fa fa-play-circle"></i>
                <span class="font-weight-bold small text-uppercase">Animación</span></a>

            <a title="Visualizar videos" class="nav-link mb-3 p-3 shadow" id="video" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">
                <i class="fa fa-play"></i>
                <span class="font-weight-bold small text-uppercase">Videos</span></a>

            <a title="Bibliografía utilizada" class="nav-link mb-3 p-3 shadow" id="biblio" data-toggle="pill" href="#v-pills-biblio" role="tab" aria-controls="v-pills-biblio" aria-selected="false">
                <i class="fa fa-book"></i>
                <span class="font-weight-bold small text-uppercase">Bibliografía</span></a>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-descripcion" role="tabpanel" aria-labelledby="descripcion">
                <h4 class="font-italic mb-4">Descripción</h4>
                <p class="font-italic text-muted mb-2">
                    <img src="<%= asset_path 'merge-sort-main.png' %>" width="200" alt="" class="img" id="img-algo">
                <p></p>
                <div id="texto-descripcion">
                    Merge sort es una técnica de ordenación basada en la técnica de dividir y conquistar, fue creado por John von Neumann (1945).
                    Dado que la complejidad del tiempo computacional en el peor de los casos es Ο(n log n), es uno de los algoritmos más respetados y por ende, es muy eficiente.
                    Merge sort primero divide el arreglo en mitades iguales y luego las combina de manera ordenada.
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-funcionamiento" role="tabpanel" aria-labelledby="funcionamiento">
                <h4 class="font-italic mb-4">Funcionamiento</h4>
                <p class="font-italic text-muted mb-2">

                <main>
                    <ol class="gradient-list">
                        <li>
                            Para entender la ordenación por unión o merge sort, tomamos un arreglo sin ordenar como el siguiente:
                            <img src="<%= asset_path 'merge-funcionamiento-01.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Sabemos que merge sort primero divide el arreglo completo de forma iterativa en mitades
                            iguales. Vemos aquí que un arreglo de 8 elementos que se divide
                            en dos subarreglos de tamaño 4.
                            <img src="<%= asset_path 'merge-funcionamiento-02.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Esto no cambia la secuencia de aparición de los elementos en el arreglo original. Ahora dividimos estos dos subarreglos en mitades.
                            <img src="<%= asset_path 'merge-funcionamiento-03.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Dividimos aún más estos subarreglos hasta que ya no se puedan dividir.
                            <img src="<%= asset_path 'merge-funcionamiento-04.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Ahora, los combinamos exactamente de la misma manera en que se desglosaron, es decir, se empezaran a unir de nuevo.
                            Para entender mejor el ejemplo, se le asignaron difirentes colores a los subarreglos.
                            <p></p>
                            Primero comparamos los elementos de cada subarreglo y luego los combinamos en otro subarreglo de manera ordenada.
                            Vemos que 14 y 33 están en posiciones ordenadas. Comparamos 27 y 10, y en el subarreglo objetivo de 2 valores,
                            colocamos el 10 primero, seguido del 27. Cambiamos el orden de 19 y 35 mientras que 42 y 44 se colocan secuencialmente.
                            <img src="<%= asset_path 'merge-funcionamiento-05.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            En la siguiente iteración de la fase de combinación, comparamos los subarreglos de dos valores de datos y los 
                            fusionamos en un subarreglo de cuatro datos colocándolos todos en un orden ordenado.
                            <img src="<%= asset_path 'merge-funcionamiento-06.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Después de la unión final, el arreglo debería verse ordenado así:
                            <img src="<%= asset_path 'merge-funcionamiento-07.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        
                    </ol>
                </main>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-p-codigo" role="tabpanel" aria-labelledby="p-codigo">
                <h4 class="font-italic mb-4">Pseudo-Código</h4>
                <div id="texto-descripcion">
                    Este algoritmo recibe un arreglo de n elementos llamado arr, las variables left y
                    right son los índices extremos del arreglo.
                </div>
                <p class="font-italic text-muted mb-2">
                    <script src="https://gist.github.com/FedericoCelmo/b4dd225e3360959adb0c3ebd95dc7ba4.js"></script>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-codigo" role="tabpanel" aria-labelledby="codigo">
                <h4 class="font-italic mb-4">Código</h4>
                <p class="font-italic text-muted mb-2">
                <div class="warpper">
                    <input class="radio" id="one" name="group" type="radio" checked>
                    <input class="radio" id="two" name="group" type="radio">
                    <input class="radio" id="three" name="group" type="radio">
                    <div class="tabs">
                        <label class="tab" id="one-tab" for="one">Java</label>
                        <label class="tab" id="two-tab" for="two">Python</label>
                        <label class="tab" id="three-tab" for="three">C</label>
                    </div>
                    <div class="panels">
                        <div class="panel" id="one-panel">
                            <div class="panel-title">Código en Java</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/aee313d511f7cd09e8f85c81f532a485.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="two-panel">
                            <div class="panel-title">Código en Python</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/415efdbff26f4e5612878b67bcb84d2a.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="three-panel">
                            <div class="panel-title">Código en C</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/20feab1b37243cc75764dc75ce292467.js"></script>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-animacion" role="tabpanel" aria-labelledby="animacion">
                <h4 class="font-italic mb-4">Animación</h4>
                <p class="font-italic text-muted mb-2">
                <div class="card">
                    <div class="card-body">
                      <section class="header">Merge Sort</section>
                      <button type="button" class="btn btn-success" id="btnPlay" title="Iniciar la animación"><i class="fa fa-play" id="iconoPlay"></i></button>
                      <button type="button" class="btn btn-danger" id="btnStop" title="Detener la animación"><i class="fa fa-stop" id="iconoStop"></i></button>
                      <button type="button" class="btn btn-warning" id="btnReiniciar" title="Reiniciar la animación"><i class="fa fa-reply" id="iconoReiniciar"></i></button>
                      <section style="width: 100%; z-index: 999; position: static" class="data-container"></section>
                      <script>
                          new MergeView();
                      </script>
                    </div>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-video" role="tabpanel" aria-labelledby="video">
                <h4 class="font-italic mb-4">Videos</h4>
                <p class="font-italic text-muted mb-2">

                <div class="container" id="video-container">
                    <button id="left-btn"><i class="arrow" title="Video anterior"></i></button>
                    <iframe id="carousel" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a id="id-video1" href="https://www.youtube.com/embed/kOgzXagXpTg"></a>
                    <a id="id-video2" href="https://www.youtube.com/embed/4VqmGXwpLqc"></a>
                    <a id="id-video3" href="https://www.youtube.com/embed/xEJ6I0X_jeE"></a>
                    <button id="right-btn"><i class="arrow" title="Video siguiente"></i></button>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-biblio" role="tabpanel" aria-labelledby="biblio">
                <h4 class="font-italic mb-4">Bibliografía</h4>
                <p class="font-italic text-muted mb-2">
                <div id="texto-descripcion">

                </div>

                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <ul class="list-biblio list pl-5" id="list-biblio">
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Cormen, T. H. (2013). Algorithms unlocked: Thomas H. Cormen. Cambridge: The Mit Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein. 2009. Introduction to Algorithms, Third Edition (3rd. ed.). The MIT Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Jon Kleinberg and Eva Tardos. 2005. Algorithm Design. Addison-Wesley Longman Publishing Co., Inc., USA
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.geeksforgeeks.org/merge-sort/" <a>Geeks For Geeks: Merge sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.mygreatlearning.com/blog/merge-sort/" <a>My Great Learning: Merge sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.tutorialspoint.com/data_structures_algorithms/merge_sort_algorithm.htm" <a>Tutorials Point: Merge sort </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    </section>