<div class="container-fluid">
    <h1><%= name %></h1>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Tabs nav -->
        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a title="Descripción" class="nav-link mb-3 p-3 shadow active" id="descripcion" data-toggle="pill" href="#v-pills-descripcion" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <i class="fa fa-align-justify"></i>
                <span class="font-weight-bold small text-uppercase">Descripción</span></a>

            <a title="¿Como funciona?" class="nav-link mb-3 p-3 shadow" id="funcionamiento" data-toggle="pill" href="#v-pills-funcionamiento" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <i class="fa fa-power-off"></i>
                <span class="font-weight-bold small text-uppercase">Funcionamiento</span></a>

            <a title="Pseudo-Código" class="nav-link mb-3 p-3 shadow" id="p-codigo" data-toggle="pill" href="#v-pills-p-codigo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <i class="fa fa-list-alt"></i>
                <span class="font-weight-bold small text-uppercase">Pseudo-Código</span></a>

            <a title="Códigos en los principales lenguajes" class="nav-link mb-3 p-3 shadow" id="codigo" data-toggle="pill" href="#v-pills-codigo" role="tab" aria-controls="v-pills-codigo" aria-selected="false">
                <i class="fa fa-code"></i>
                <span class="font-weight-bold small text-uppercase">Código</span></a>

            <a title="Animación" class="nav-link mb-3 p-3 shadow" id="animacion" data-toggle="pill" href="#v-pills-animacion" role="tab" aria-controls="v-pills-animacion" aria-selected="false">
                <i class="fa fa-play-circle"></i>
                <span class="font-weight-bold small text-uppercase">Animación</span></a>

            <a title="Visualizar videos" class="nav-link mb-3 p-3 shadow" id="video" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">
                <i class="fa fa-play"></i>
                <span class="font-weight-bold small text-uppercase">Videos</span></a>

            <a title="Bibliografía utilizada" class="nav-link mb-3 p-3 shadow" id="biblio" data-toggle="pill" href="#v-pills-biblio" role="tab" aria-controls="v-pills-biblio" aria-selected="false">
                <i class="fa fa-book"></i>
                <span class="font-weight-bold small text-uppercase">Bibliografía</span></a>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-descripcion" role="tabpanel" aria-labelledby="descripcion">
                <h4 class="font-italic mb-4">Descripción</h4>
                <p class="font-italic text-muted mb-2">
                    <img src="<%= asset_path 'quick-sort-main.png' %>" width="200" alt="" class="img" id="img-algo">
                <p></p>
                <div id="texto-descripcion">
                    Éste algoritmo se basa en el principio de divide y conquistarás. Resulta más fácil ordenar arreglos pequeños que una grande,
                    con lo cual irá descomponiendo el arreglo en dos partes y ordenando esas partes.
                    <p></p>
                    Para ésto utiliza la recursividad.
                    <li>Dado un arreglo, elegir uno de sus elementos, al que llamamos pivot o pivote.</li>
                    <li>Dividir el arreglo en dos subarreglos: uno con los elementos menores y el otro con los elementos mayores.</li>
                    <li>Ordenar recursívamente ambos arreglos</li>
                    <li>Armar el arreglo del resultado como: menoresOrdenados + pivot + mayoresOrdenados</li>
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-funcionamiento" role="tabpanel" aria-labelledby="funcionamiento">
                <h4 class="font-italic mb-4">Funcionamiento</h4>
                <p class="font-italic text-muted mb-2">

                <main>
                    <ol class="gradient-list">
                        <li>
                            Para nuestro ejemplo vamos a seleccionar el primer elemento del arreglo como el pivote.
                            <img src="<%= asset_path 'quick-funcionamiento-01.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Veamos entonces, paso a paso se va a ir formando este árbol de llamados recursivos. En amarillo mostramos el pivote.
                            A izquierda las sublistas de los menores, y a la derecha la de los mayores.
                            <img src="<%= asset_path 'quick-funcionamiento-02.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            En verde están los nodos "caso base", es decir, es un subarreglo de un único elemento o bien un subarreglo vacío.
                            Entonces estos nodos se van a resolver fácil y se van a concatenar con los pivotes de arriba.
                            Así empezamos a volver en los llamados recursivos.
                            <img src="<%= asset_path 'quick-funcionamiento-03.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Si sacamos los subarreglos originales de cada nodo y solo dejamos los pivotes, queda más claro:
                            <img src="<%= asset_path 'quick-funcionamiento-04.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Ya tenemos todo el tercer nivel resuelto así que cada par va a retornar para concatenarse entre sí con el pivote en el medio.
                            <img src="<%= asset_path 'quick-funcionamiento-05.png' %>" alt="" class="img" id="img-algo-f">
                        </li>
                        <li>
                            Ya casi estamos. Tenemos dos subarreglos ordenados, la de los menores y la de los mayores, y el primer pivote.
                            Concatenamos y eso nos da el resultado final:
                            <img src="<%= asset_path 'quick-funcionamiento-06.png' %>" alt="" class="img" id="img-algo-f">
                        </li>

                    </ol>
                </main>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-p-codigo" role="tabpanel" aria-labelledby="p-codigo">
                <h4 class="font-italic mb-4">Pseudo-Código</h4>
                <div id="texto-descripcion">
                    Este algoritmo recibe un arreglo de n elementos llamado A, las variables low y high son los índices extremos del arreglo.
                    La función Partition particiona o divide el arreglo para que la función principal la ordene de menor a mayor.
                </div>
                <p class="font-italic text-muted mb-2">
                    <script src="https://gist.github.com/FedericoCelmo/68fa65a91ac30c7006d76c578ae75b7f.js"></script>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-codigo" role="tabpanel" aria-labelledby="codigo">
                <h4 class="font-italic mb-4">Código</h4>
                <p class="font-italic text-muted mb-2">
                <div class="warpper">
                    <input class="radio" id="one" name="group" type="radio" checked>
                    <input class="radio" id="two" name="group" type="radio">
                    <input class="radio" id="three" name="group" type="radio">
                    <div class="tabs">
                        <label class="tab" id="one-tab" for="one">Java</label>
                        <label class="tab" id="two-tab" for="two">Python</label>
                        <label class="tab" id="three-tab" for="three">C</label>
                    </div>
                    <div class="panels">
                        <div class="panel" id="one-panel">
                            <div class="panel-title">Código en Java</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/6f6e0e912ad91c1d17ea2a4e15c525eb.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="two-panel">
                            <div class="panel-title">Código en Python</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/14833845ef3e7c3be38e54757d8f67f5.js"></script>
                            </p>
                        </div>
                        <div class="panel" id="three-panel">
                            <div class="panel-title">Código en C</div>
                            <p>
                                <script src="https://gist.github.com/FedericoCelmo/a52ca1c6322df2154667a156845d7ac0.js"></script>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-animacion" role="tabpanel" aria-labelledby="animacion">
                <h4 class="font-italic mb-4">Animación</h4>
                <p class="font-italic text-muted mb-2">
                <div class="card">
                    <div class="card-body">

                        <section class="header">Quick Sort</section>
                        <button type="button" class="btn btn-success" id="btnPlayQuick" title="Iniciar la animación"><i class="fa fa-play" id="iconoPlay"></i></button>
                        <button type="button" class="btn btn-danger" id="btnStopQuick" title="Detener la animación"><i class="fa fa-stop" id="iconoStop"></i></button>
                        <button type="button" class="btn btn-warning" id="btnReiniciarQuick" title="Reiniciar la animación"><i class="fa fa-reply" id="iconoReiniciar"></i></button>
                        <section id="container">                                                 
                            <div id="quick">
                                <div id="quick-list">                                                                        
                                </div>
                            </div>                                              
                        </section>                        
                        <script>
                            new QuickView();
                        </script>
                    </div>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-video" role="tabpanel" aria-labelledby="video">
                <h4 class="font-italic mb-4">Videos</h4>
                <p class="font-italic text-muted mb-2">

                <div class="container" id="video-container">
                    <button id="left-btn"><i class="arrow" title="Video anterior"></i></button>
                    <iframe id="carousel" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a id="id-video1" href="https://www.youtube.com/embed/YzHDIvxOQcI"></a>
                    <a id="id-video2" href="https://www.youtube.com/embed/Hoixgm4-P4M"></a>
                    <a id="id-video3" href="https://www.youtube.com/embed/xaFvKzmU-kQ"></a>
                    <button id="right-btn"><i class="arrow" title="Video siguiente"></i></button>
                </div>

                </p>
            </div>

            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-biblio" role="tabpanel" aria-labelledby="biblio">
                <h4 class="font-italic mb-4">Bibliografía</h4>
                <p class="font-italic text-muted mb-2">
                <div id="texto-descripcion">

                </div>

                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <ul class="list-biblio list pl-5" id="list-biblio">
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Cormen, T. H. (2013). Algorithms unlocked: Thomas H. Cormen. Cambridge: The Mit Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein. 2009. Introduction to Algorithms, Third Edition (3rd. ed.). The MIT Press.
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-book" aria-hidden="true"></i>Jon Kleinberg and Eva Tardos. 2005. Algorithm Design. Addison-Wesley Longman Publishing Co., Inc., USA
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://www.geeksforgeeks.org/quick-sort/" <a>Geeks For Geeks: Quick sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://algorithmist.com/wiki/Quicksort" <a>Algorithmist: Quick sort </a>
                            </li>
                            <li class="mb-3 d-flex">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a title="Visitar página web" href="https://sites.google.com/site/programacioniiuno/temario/unidad-6---anlisis-de-algoritmos/algoritmo-quicksort" <a>Google Sites: Quick sort </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    </section>