<div class="container-fluid">
  <h1><%= name %></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <!-- Tabs nav -->
    <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a title="Descripción" class="nav-link mb-3 p-3 shadow active" id="descripcion" data-toggle="pill" href="#v-pills-descripcion" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fa fa-align-justify"></i>
        <span class="font-weight-bold small text-uppercase">Descripción</span></a>

      <a title="¿Como funciona?" class="nav-link mb-3 p-3 shadow" id="funcionamiento" data-toggle="pill" href="#v-pills-funcionamiento" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <i class="fa fa-power-off"></i>
        <span class="font-weight-bold small text-uppercase">Funcionamiento</span></a>

      <a title="Pseudo-Código" class="nav-link mb-3 p-3 shadow" id="p-codigo" data-toggle="pill" href="#v-pills-p-codigo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
        <i class="fa fa-list-alt"></i>
        <span class="font-weight-bold small text-uppercase">Pseudo-Código</span></a>

      <a title="Códigos en los principales lenguajes" class="nav-link mb-3 p-3 shadow" id="codigo" data-toggle="pill" href="#v-pills-codigo" role="tab" aria-controls="v-pills-codigo" aria-selected="false">
        <i class="fa fa-code"></i>
        <span class="font-weight-bold small text-uppercase">Código</span></a>

      <a title="Animación" class="nav-link mb-3 p-3 shadow" id="animacion" data-toggle="pill" href="#v-pills-animacion" role="tab" aria-controls="v-pills-animacion" aria-selected="false">
        <i class="fa fa-play-circle"></i>
        <span class="font-weight-bold small text-uppercase">Animación</span></a>

      <a title="Visualizar videos" class="nav-link mb-3 p-3 shadow" id="video" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">
        <i class="fa fa-play"></i>
        <span class="font-weight-bold small text-uppercase">Videos</span></a>

      <a title="Bibliografía utilizada" class="nav-link mb-3 p-3 shadow" id="biblio" data-toggle="pill" href="#v-pills-biblio" role="tab" aria-controls="v-pills-biblio" aria-selected="false">
        <i class="fa fa-book"></i>
        <span class="font-weight-bold small text-uppercase">Bibliografía</span></a>
    </div>
  </div>

  <div class="col-md-9">
    <!-- Tabs content -->
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade shadow rounded bg-white p-5 show active" id="v-pills-descripcion" role="tabpanel" aria-labelledby="descripcion">
        <h4 class="font-italic mb-4">Descripción</h4>
        <div id="texto-descripcion">
          El método de ordenación por mezcla equilibrada, conocido también como natural, es una optimización del método de mezcla directa.
          La idea central de este algoritmo consiste en realizar las particiones tomando secuencias ordenadas de máxima longitud en lugar de
          secuencias de tamaño fijo previamente determinadas. Luego se realiza la fusión de las secuencias ordenadas, en alternada, sobre dos
          archivos. Aplicando estas acciones en forma repetida se logrará el archivo original quede ordenado.
        </div>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-funcionamiento" role="tabpanel" aria-labelledby="funcionamiento">
        <h4 class="font-italic mb-4">Funcionamiento</h4>
        <main>
          <ol class="gradient-list">
            <li>
              Es uno de los mejores métodos de ordenación de ficheros secuenciales. Consiste en aprovechar la posible ordenación interna
              de las secuencias del archivo (F), obteniendo con ellas particiones ordenadas de longitud variable sobre una serie de archivos
              auxiliares, en este caso dos, F1 y F2. A partir de estos ficheros auxiliares se escribe un nuevo F mezclando los segmentos
              crecientes máximos de cada uno de ellos.
            </li>
            <li>
              Clasificar el vector <br>
              <b>F: 19 27 2 8 36 5 20 15 6</b> <br>
              Se divide F en dos vectores F1 y F2, donde se ponen alternativamente los elementos F1 y F2. F está ahora vacío.
            </li>
            <li>
              Etapa 1, fase 1: <br>
              <b>F1: 19 27/ 5 20/ 6 <br>
                F2: 2 8 36/ 15</b> <br>
              Se selecciona el elemento más pequeño de F1 y F2, que pasan a estar en F3.
            </li>
            <li>
              Etapa 1, fase 2: <br>
              <b>
                F1: 19 27/ 5 20/ 6 <br>
                F2: 8 36/ 15 <br>
                F3: 2 <br>
              </b> <br>
              Ahora se comparan 8 y 19, se selecciona 8. De modo similar, 19 y 27: <br>
              <b>
                F1: 5 20/ 6 <br>
                F2: 36/ 15 <br>
                F3: 2 8 19 27 <br>
              </b> <br>
              En F1 se ha interrumpido la secuencia creciente y se continúa con F2 hasta que también en él se termine la secuencia creciente.
              <br>
              <b>
                F1: 5 20/ 6 <br>
                F2: 15 <br>
                F3: 2 8 19 27 36 <br>
              </b> <br>
              Ahora 5 y 15 son menores que 36. Finalmente se tendrá <br>
              <b>F3: 2 8 19 27 36/ 5 15 20/ 6</b> <br>
              F1 y F2 están ahora vacíos.
            </li>
            <li>
              Etapa 2, fase 1: <br>
              Dividir F3 en dos <br>
              <b>F1: 2 8 19 27 36/ 6 <br>
                F2: 5 15 20</b>
            </li>
            <li>
              Etapa 2, fase 2: <br>
              Se mezclan F1 y F2 <br>
              <b>F3: 2 5 8 15 19 20 27 36 6</b>
            </li>
            <li>
              Etapa 3, fase 1: <br>
              <b>
                F1: 2 5 8 15 19 20 27 36 <br>
                F2: 6
              </b>
            </li>
            <li>
              Etapa 3, fase 2: <br>
              <b>F3: 2 5 6 8 15 19 20 27 36</b> <br>
              y el archivo F3 ya está ordenado.
            </li>
          </ol>
        </main>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-p-codigo" role="tabpanel" aria-labelledby="p-codigo">
        <h4 class="font-italic mb-4">Pseudo-Código</h4>
        <!--<div id="texto-descripcion">
          Este algoritmo recibe un arreglo de n elementos llamado A, las variables low y high son los índices extremos del arreglo.
          La función Partition particiona o divide el arreglo para que la función principal la ordene de menor a mayor.
        </div>-->
        <p class="font-italic text-muted mb-2">
          <script src="https://gist.github.com/AlexCs389/639f5459462778ced1352513c1f7d2c1.js"></script>
        </p>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-codigo" role="tabpanel" aria-labelledby="codigo">
        <h4 class="font-italic mb-4">Código</h4>
        <p class="font-italic text-muted mb-2">
        <div class="warpper">
          <input class="radio" id="one" name="group" type="radio" checked>
          <input class="radio" id="two" name="group" type="radio">
          <input class="radio" id="three" name="group" type="radio">
          <div class="tabs">
            <label class="tab" id="one-tab" for="one">Java</label>
            <label class="tab" id="two-tab" for="two">Python</label>
            <label class="tab" id="three-tab" for="three">C</label>
          </div>
          <div class="panels">
            <div class="panel" id="one-panel">
              <div class="panel-title">Código en Java</div>
              <p>
                <script src="https://gist.github.com/AlexCs389/3ef448fa5bfd2e6a28fa3711bddc731f.js"></script>
              </p>
            </div>
            <div class="panel" id="two-panel">
              <div class="panel-title">Código en Python</div>
              <p>
                <script src="https://gist.github.com/AlexCs389/222ade9b1c392f2644c3d3888ddbcf52.js"></script>
              </p>
            </div>
            <div class="panel" id="three-panel">
              <div class="panel-title">Código en C</div>
              <p>
                <script src="https://gist.github.com/AlexCs389/deb4bff24b6564534032bde1e9337d45.js"></script>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-animacion" role="tabpanel" aria-labelledby="animacion">
        <h4 class="font-italic mb-4">Animación</h4>
        <p class="font-italic text-muted mb-2">
        <div class="card">
          <div class="card-body">
            <section class="header">Mezcla equilibrada</section>
            <button type="button" class="btn btn-success" id="btnPlayBalancedMix" title="Iniciar la animación"><i class="fa fa-play" id="iconoPlay"></i></button>
            <button type="button" class="btn btn-danger" id="btnStopBalancedMix" title="Detener la animación"><i class="fa fa-stop" id="iconoStop"></i></button>
            <button type="button" class="btn btn-warning" id="btnReiniciarBalancedMix" title="Reiniciar la animación"><i class="fa fa-reply" id="iconoReiniciar"></i></button>
            <section class="container-data"></section>
            <script>
                new BalancedMix();
            </script>
          </div>
        </div>

        </p>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-video" role="tabpanel" aria-labelledby="video">
        <h4 class="font-italic mb-4">Videos</h4>
        <div class="container" id="video-container">
          <button id="left-btn"><i class="arrow" title="Video anterior"></i></button>
          <iframe id="carousel" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <a id="id-video1" href="https://www.youtube.com/embed/SUPVy0WdsZw"></a>
          <a id="id-video2" href="https://www.youtube.com/embed/GgPYYiVtVQM"></a>
          <a id="id-video3" href="https://www.youtube.com/embed/aA3EhoGykvU"></a>
          <button id="right-btn"><i class="arrow" title="Video siguiente"></i></button>
        </div>
      </div>

      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-biblio" role="tabpanel" aria-labelledby="biblio">
        <h4 class="font-italic mb-4">Bibliografía</h4>
        <p class="font-italic text-muted mb-2">
        <div id="texto-descripcion">

        </div>

        <div class="card shadow mb-4">
          <div class="card-body p-5">
            <ul class="list-biblio list pl-5" id="list-biblio">
              <li class="mb-3 d-flex">
                <i class="fa fa-book" aria-hidden="true"></i>
                Joyanes Aguilar, L. (2008). Fundamentos de programación: Algoritmos, estructura de datos y objetos (4a. ed. --.). Madrid: McGraw-Hill
              </li>
              <li class="mb-3 d-flex">
                <i class="fa fa-book" aria-hidden="true"></i>
                Ignacio Zahonero , Lucas García Sánchez y Luis Joyanes Aguilar, L.(2007). Estructura de datos en C++. (1a. ed.--.). Madrid: McGraw-Hill
              </li>
              <li class="mb-3 d-flex">
                <i class="fa fa-link" aria-hidden="true"></i>
                <a title="Visitar página web" href="http://itpn.mx/recursosisc/3semestre/estructuradedatos/Unidad%20V.pdf">
                  http://itpn.mx/recursosisc/3semestre/estructuradedatos/Unidad%20V.pdf
                </a>
              </li>
              <li class="mb-3 d-flex">
                <i class="fa fa-link" aria-hidden="true"></i>
                <a title="Visitar página web" href="https://es.slideshare.net/JosAntonioSandovalAc/estructura-de-datos-unidad-4-metodos-de-ordenamiento">
                  https://es.slideshare.net/JosAntonioSandovalAc/estructura-de-datos-unidad-4-metodos-de-ordenamiento
                </a>
              </li>
            </ul>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>