<% content_for :title do %>
  Algos | Home
<% end %>

<div class="container-fluid">
  <div class="row">
    <h1 class="text-dark">Inicio</h1>
  </div>
  <div class="row">
    <p>
      El presente sitio web tiene la finalidad de servir como apoyo en la explicación de los algoritmos de ordenamiento de la
      asignatura de estructura de datos. <br> Para cada uno de los algoritmos de ordenamiento se muestra la descripción, funcionamiento,
      seudocódigo, código fuente, animación, videos y bibliografía. <br>
      Los algoritmos presentados son los siguientes:
    </p>
    <ul>
      <li>Bubble Sort</li>
      <li>Shellsort</li>
      <li>Insertion Sort</li>
      <li>Megesort</li>
      <li>Quicksort</li>
      <li>Mezcla Directa</li>
      <li>Mezcla Equilibrada</li>
    </ul>
  </div>
</div>