// Place all the styles related to the AlgorithmsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Settings generales*/
body {
  min-height: 100vh;
}
.container-fluid h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: hsla(0, 0%, 0%, 0.9);
  font: normal 50px Varela Round, sans-serif;
  left: 0;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: -10;
}

@keyframes move {
  /*Animación del nombre del algoritmo*/
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}

.nav-pills-custom .nav-link {
  color: rgb(14, 13, 13);
  background: #fff;
  position: relative;
}
.nav-pills-custom .nav-link.active {
  color: #3bfcfc;
  background: #e63131;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}
.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}
/*Fin de settings generales*/

/*Tab Horizontal de lenguajes*/
h2 {
  color: #000;
  text-align: center;
  font-size: 2em;
}
.warpper {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels {
  background: #fffffff6;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}
.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}
/*Fin Tab Horizontal de lenguajes*/

/*Estilos de la animacion Bubble sort*/
* {
  font-family: sans-serif;
}

.header {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.data-container {
  //display: flex;
  //width: 600px;
  //height: 384px;
  width: 100%;
  z-index: 999;
  position: static;
}

#contenedorPadre {
  //display: flex;
  display: inline-block;
  width: 100%;
  height: 100%;
  //border: #000 solid;
  //z-index: 1;
  //justify-content: center;
  //align-items: center;
}

#elementos {
  width: 100%;
  height: 100%;
  //margin-bottom: 500px;
  //display: flex;
  //display: inline-block;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //display: inline-block;
  position: relative;
  justify-content: center;
  text-align: center;
  //align-items: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  //border: #000 solid;
  
}

#bubbleAni {
  display: flex;
  //margin-top: 40%;
  position: relative;
  width: 300px;
  height: 380px;
  margin: 0 auto;
  left: 0 auto;
  right: 0 auto;
  //border: #000 solid;
}

.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #58b7ff;
  transition: 0.5s all ease;
}

.block__id {
  position: absolute;
  top: -24px;
  //width: 50%;
  text-align: center;
  font-size: small;
}
.card-body,
#btnPlay,
#btnStop,
#btnReiniciar,
#iconoPlay,
#iconoStop,
#iconoReiniciar {
  margin-top: 20px;
  text-align: center;
  margin: 0;
}
/*fin de estilos de animación bubble sort*/

/*Estilos de la descripcion del algoritmo*/
#texto-descripcion {
  text-align: justify;
}
/*Fin Estilos de la descripcion del algoritmo*/

/*Estilos de la imagen img-algo*/
#img-algo {
  margin: 10px auto;
  display: block;
}

/*.gradient-list #img-algo-f{   
  object-fit: contain;
  object-position: center center;
}*/

/*Fin de Estilos de la imagen img-algo*/

/*Estilos de la seccion de videos*/
#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container iframe {
  width: 100%;
  z-index: 0;
}

button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  z-index: 3;
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 3;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}
/*Fin de los estilos d ela secccion de videos*/

/*Estilos de la lista de la sección Funcionamiento*/
/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

/*** VARIABLES ***/
/* Colores */
$black: #1d1f20;
$blue: #08faf6;
$green: #a2ed56;
$red: #7c0303;
$yellow: #fd32e2;
$white: #fafafa;

/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  display: block;
  margin: 0 auto;
  max-width: auto;
  padding: 1rem;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    text-align: justify;
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(45deg, #0a0a0a 10%, #3bfcfc 49%, #0a0202 82%);
      background-size: 200%;
      animation: contenedor 10s infinite;
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 "Montserrat";
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n + #{$i}):before {
        background: linear-gradient(
          45deg,
          #0a0a0a 10%,
          #3bfcfc 49%,
          #0a0202 82%
        );
        background-size: 200%;
        animation: contenedor 10s infinite;
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n + #{$i}):before {
        background: linear-gradient(
          45deg,
          #0a0a0a 10%,
          #3bfcfc 49%,
          #0a0202 82%
        );
        background-size: 200%;
        animation: contenedor 10s infinite;
      }
    }
    + li {
      margin-top: 2rem;
    }
    #img-algo-f {
      min-width: 50px;
      max-width: 400px;
      margin: 10px auto;
      display: block;
      //object-fit: contain;
    }
    @supports (object-fit: cover) {
      #img-algo-f img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}
/*Fin de Estilos de la lista de la sección Funcionamiento*/

/*Estilos de la sección Bibliografia*/
#list-biblio {
  justify-content: left;
  text-align: left;
}
/*Fin de Estilos de la sección Bibliografia*/

/*Estilos de la animación del Insertion Sort*/
#outDiv {
  margin-top: 100px;
  width: 100%;
  z-index: 999;
  position: static;
}

ul {
  z-index: 5;
  list-style-type: none;
  padding: 12px 0px;
}
#outDiv ul li {
  z-index: 5;
  position: relative;
  border: 1px solid gray;
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin-left: 5px;
  border-radius: 18px;
  background-color: rgb(233, 241, 198);
}

#outDiv .target {
  z-index: 5;
  color: red;
  background: rgb(245, 10, 10);
}

#outDiv .finished {
  z-index: 5;
  background: #13ce66;
}

#arr0,
#arr1 {
  z-index: 5;
  position: absolute;
  top: -3em;
  left: 14px;
  padding: 0;
  margin: 0;
}

#arr0 {
  z-index: 5;
  color: blue;
  font-size: larger;
}
#arr1 {
  z-index: 5;
  color: red;
  left: 16px;
  font-size: larger;
}

/*Fin de estilos de la animación del insertion sort*/

/*Estilos de la animación del quick sort*/
#container ul li {
  z-index: 5;
  position: relative;
  border: 1px solid gray;
  display: list-item;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  margin-left: 5px;
  border-radius: 18px;
  margin-top: 2px;
  background-color: rgb(214, 235, 241);
}
.card-body #container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Fin de los estilos de la animación del quick sort*/

/* INICIO DE ESTILOS DE MERGE SORT */

/* ----------------------------------------------------------------- */
/* Global */
/* ----------------------------------------------------------------- */

$bg-color: #212326;
$default-font: "Livvic", sans-serif;
$text-color: #fff;
$main-gradient: linear-gradient(to right, #64d419, #048700);

@mixin center() {
  width: 90%;
  margin: 0 auto;
}

@mixin scaleOnHover($scale) {
  & {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    transform: scale($scale);
  }
}

section.data-container {
  position: relative;
  height: 60vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 50px;

  div.array-container {
    display: inline-flex;
    flex: 0 0 auto;
    position: absolute;

    div.array-element {
      height: 40px;
      width: 40px;
      margin: 0 1px 0 1px;
      background: #5bb4f7;
      font-family: $default-font;
      font-weight: bold;

      p {
        height: 100%;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* ----------------------------------------------------------------- */
/* Errors */
/* ----------------------------------------------------------------- */
/*
.errors p, .succes p {
  font-family: $default-font;
  font-weight: bold;
  text-align: center;
  color: #d41e1e;
  transition: all ease-in-out .3s;
}
*/

.success p {
  color: green;
}
/* ----------------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------------- */
/*
section.buttons {
  position: fixed;
  bottom: 7%;
  @include center();
  font-family: $default-font;

  div.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
  }

  button {
    box-sizing: border-box;
    border: none;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: $text-color;
    cursor: pointer;
    @include scaleOnHover(1.05);
    &#sort {
      background: $main-gradient;
    }
    &#unsort {
      background: linear-gradient(to right, #b80000, #d41e1e);
    }
  }
}
*/

@media (max-width: 570px) {
  //h1 {
  //  font-size: 1.2rem;
  //}
  //div#settings {
  //  width: 300px;
  //}
  section.data-container {
    div.array-container {
      div.array-element {
        width: 30px;
        height: 30px;
        p {
          font-size: 12px;
          line-height: 8px;
        }
      }
    }
  }
}
/* FIN DE ESTILOS DE MERGE SORT */

/* Inicia estilos del shell sort */
.form-btn {
  display: block;
  margin: 40px auto;
}
.form-btn button:hover {
  cursor: pointer;
}
.form-btn button {
  padding: 5px 10px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-sort {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.form-sort input {
  width: 5%;
  height: 5%;
  margin: 5px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  font-size: auto;
  //border-radius: 50%;
}

.form-more {
  font-size: 30px;
  font-weight: bold;
  vertical-align: sub;
  transition: ease-in-out 0.5s;
  //transform: scale(2,3);
}
.form-more:hover {
  cursor: pointer;
  color: #d10733;
  transition: ease-in-out 0.5s;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes zoomIn {
  0% {
      opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, .3);
      transform: scale3d(1.2, 1.2, .3);
  }

  50% {
      opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
      opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, .3);
      transform: scale3d(1.2, 1.2, .3);
  }

  50% {
      opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  font-weight: bold;
  background-color: #13ce66;
}
.zoomIn2 {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  font-weight: bold;
  background-color: #f70b0b;
}
.zoomIn3 {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  font-weight: bold;
  background-color: #9cc508;
}

.shell-body input {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  font-weight: bold;
  background-color: #13ce66;
}

/* Fin estilos del shell sort */
$row: #5bb4f7;
$row-f1: #ffc32b;
$row-f2: #faf598;

.arr-row {
  text-align: left;
  margin-top: 25px;
  &:first-child {
    margin-top: 0;
  }
  .arr-row-item {
    color: #fff;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    &.arr-row-f {
      background-color: $row;
    }
    &.arr-row-f1 {
      background-color: $row-f1;
    }
    &.arr-row-f2 {
      background-color: $row-f2;
    }
  }
  label {
    margin: 5px;
    font-weight: bold;
  }
}
.item-f1 {
  background-color: $row-f1 !important;
}
.item-f2{
  background-color: $row-f2 !important;
}
.compare-items {
  background-color: purple;
}
.min-item {
  background-color: green;
}
.max-item {
  background-color: red;
}

.arr-list {
  font-weight: bold;
  text-align: left;
  margin-top: 25px;
  &:first-child {
    margin-top: 0;
  }
  .arr-list-item {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    display: inline-block;
    background-color: $row;
    &.show {
      visibility: visible;
    }
    &.hide {
      visibility: hidden;
    }
    &.to-comparate {
      background-color: purple !important;
    }
    &.sub-list-0 {
      background-color: orange;
    }
    &.sub-list-1 {
      background-color: yellow;
    }
    &.sub-list-2 {
      background-color: darkblue;
    }
    &.sub-list-3 {
      background-color: mediumvioletred;
    }
    &.sub-list-min {
      background-color: green;
    }
  }
}